LLM_API_KEY=
LLM_MODEL=
LLM_BASE_URL=


BROWSER_HEADLESS=False
BROWSER_SLOW_MO=150
BROWSER_VIEWPORT_WIDTH=1280
BROWSER_VIEWPORT_HEIGHT=900
BROWSER_PAGE_TIMEOUT=8000
BROWSER_SCROLL_THRESHOLD=100
BROWSER_MAX_STEPS=50